@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

    *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  
    font-family: 'Montserrat', sans-serif;
  }



    body {
    background-color: #1E1E1E;
}


/* Partie Navbar */ 

/***************** navbar *******************/
#navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(#E02B1A, #930D00);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}

a:hover {
    text-decoration: none;
    list-style: none;
    color: white;
}



ul {
    margin-top: 0;
    margin-bottom: 0;
}



#menu_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

#menu_logo {
    font-size: 1.5rem;
}


#menu_logo, #menu_right {
    color: white;
}

div#menu_center {
    width: 60%;
}

#right_right {
    display: flex;
    gap: 40px;
}

#sidebar_menu {
    display: none;
}

@media only screen and (max-width: 414px)  {
    
    #sidebar_menu {
        display: block;
    }
    div#menu_right {
        padding-bottom: 15px;
    }
    
    p#navbar_text {
        position: relative;
        left: 40px;
        bottom: 230px;
    }
    p#navbar_text {
        left: 30px;
        top: 20px;
    }
    #sidebar_navigation {
        height: 20%;
        margin-top: 50px;
    }
    #side_nav_links {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        gap: 10%;
    }

}

@media only screen and (max-width: 1024px)  {

    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    div#menu_center {
        display: none;
    }


}
/***************** navbar *******************/

/************** sidebar ****************/

#sidebar_menu {
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: -10;*/
    width: 80%;
    height: 1092px;
    background-color: #C81100;
}

#sidebar_navigation {
    display: flex;
    flex-direction: row;
    height: 45%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#side_nav_links {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    gap: 4%;
}

#navbar_text {
    color: rgba(255, 255, 255, 0.63);
}

a.menu_text {
    font-size: 20px;
}

#croix {
    float: right;
    margin: 5%;
    color: white;
}

/************** sidebar ****************/


/* Les Titres  */
    h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

    h5{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    }


    section{
    margin-top: 40px;
  }






.modal {
  position: fixed;
  top: 42px;
  left: 31vw;
  display: none;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}


.modal-dialog {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    pointer-events: none;
    background-color:  #595959;
    border-radius: 10px;
    height: 14vh;
    width: 20vw;

}


.modall-content {
    background-color:  #595959;
    color: white;
    border-radius: 10px;
    right: 15vw;
}

p.whitetext {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

a.new-text {
    color: #E02B1A;
    font-weight: 800;

}

.modal .fade{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}


.modal-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 11px;
}

img.card-img-top.imgmodal {
    height: 21vw;
    width: 23vw;
    border-radius: 10px;
}

.modal-header {
    border-radius: 10px;
    border-bottom: none;

}

.btn-primary {
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-width : 0;
    border-style : none;
    font-size: 18px;
    font-family:'Montserrat', sans-serif;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-primary:hover {
  color: #fff;
  background-color: #E02B1A;
  border-color: #E02B1A;
  font-size: 18px;
  border-width : 0;
  border-style : none;
}

.btn-primary:onclick {
    color: #fff;
    background-color: #E02B1A;
    border-width : 0;
    border-style : none;
    font-size: 18px;
}


.card-modal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 41px;
    height: 100%;
    
}

.titre {
  height: 7%;
}




.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    border: none;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.5;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #fff;
    opacity: 2.5; 
}

.close:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 2.5;
}

h5.card-title {
  font-size: 30px;
}




  
  /****************************************************** Carousel à la une  **************************************************************/

    .card {
    /* border: 2px solid red; */
    margin: 10px 4px;
    transition: .6s ease;
    background-color: #1E1E1E;
  }
  
    .card:hover {
    transform: scale(1.05);
    border-radius: 10px;
 
  }
  
    .card-block {
   
    background-color: #595959;
    color: #fff;
    padding: 10px;
    height: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }




  .scrollcards {
    background-color: #1E1E1E;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.scrollcards .card {
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
      border: none;
      background-color: #1E1E1E;
  }

  

  a.bttn {
    background-color: #E02B1A;
    border:  3px solid #E02B1A;
    box-shadow: 2px 2px 2px 2px #343a40;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 14px;
    margin-bottom: 19px;
    padding: 4px;
}
a.bttn:hover {
    color: #fff;
}

.cardprice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

.price {
    margin-top: 20px;
    margin-right: 12px;
}


p.card-title {
    font-size: 16px;
}





/*************************************************************************** decouverte ****************************************************/

.card-deck-wrapper {
    margin-right: 2px;
    margin-left: 19px;
}

.card-deck {
    margin-right: 3px;
}

.card-description {
    background-color: #595959;
    color: #fff;
    padding: 10px;
    height: 119px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.card-description:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.btn-danger {
    color: #fff;
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-radius: 5px;
}

.btn-danger:hover {
    color: #fff;
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-radius: 5px;
}

.btn-promo {
    display: flex;
    justify-content: center;
}

.card-info {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
}

a.btn.btn-danger {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 2px 2px #404040;

}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}




/* Partie Footer */

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: 300px;
    background-color: #1E1E1E;
}

div#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#left, #center, #right {
    width: 30%;
    height: 290px;
}

#center, #right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_titles{
    color: white;
}

h4::after {
    content: "";
    display: block;
    width: 60px;
    padding-top: 3px;
    border-bottom: 2px solid red;
}

.info_styling {
    color: rgba(255, 255, 255, 0.5);
}

li {
    padding-bottom: 0%;
}
ul {
    padding-left: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    color: red;
}

#adresse, #number, #email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

iconify-icon {
    padding-right: 10px;
}

#en_bas {
    padding-top: 20%;
}