
body {
    background-color: #1e1e1e;
}

h3 {
    color: white;
    margin-left: 39px;
}

h5.card-title {
  font-size: 23px;
}
.card-cart {

    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: #1e1e1e;
    color: white;

  }

  .card-title {
    font-weight: bold;
  }


  .card-cart img {
    width: 20%;
    margin-left: 40px;
    border-radius: 10px;
    height: 350px;
    margin-top: 46px;

  }



  
  
.card {
    /* border: 2px solid red; */
    margin: 10px 4px;
    transition: .6s ease;
    background-color: #1E1E1E;
  }
  
    .card:hover {
    transform: scale(1.05);
  }

.card-deck-wrapper {
    margin-right: 2px;
    margin-left: 19px;
}

.card-deck {
    margin-right: 3px;
}

.card-body {
  font-size: 18px;
}

.card-description {

    background-color: #595959;
    color: #fff;
    padding: 10px;
    height: 135px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.card-info {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    font-weight: 600;
    margin-right: 40px;
}

.offer{
margin-top: 43px;
}


.btn-danger {
    color: #fff;
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-radius: 5px;
    font-size: 14px;
    font-family:'Montserrat', sans-serif; ;
}

.btn-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.price {
    margin-top: 7px;
    font-size: 18px;
    width: 20%;
  }


a.btn.btn-danger {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 2px 2px #404040;
    height: 37px;
    width: 11em;

}

.productinfo {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  font-weight: 600;
  
}

.delivertext {
  width: 93%;
}



a.btn.btn-danger:hover {
    background-color: #E02B1A;

}

.btn-dark {
  color: #fff;
  background-color:  #E02B1A;
  border-color: #E02B1A;
  border-radius: 10px;
}


a.btn.btn-dark {
  font-weight: 600;
  font-size: 20px;
}

a.btn.btn-dark:hover {
  background-color:  #E02B1A;
}


p.card-text-cart {
  text-align: justify;
  margin-right: 8vw;
}

.btncart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 60px;
}





@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}
