@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}
/***************** navbar *******************/
#navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(#E02B1A, #930D00);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}
#menu_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}
#menu_logo, #menu_right {
    color: white;
}
div#menu_center {
    width: 60%;
}
#right_right {
    display: flex;
    gap: 40px;
}
#sidebar_menu {
    display: none;
}
#menu_icon {
    display: none;
}

/************** sidebar ****************/
#sidebar_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 1092px;
    background-color: #C81100;
}
.main_sidebar_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
#side_nav_links {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    gap: 4%;
}
.block_one {
    display: flex;
    justify-content: flex-end;
}
.block_two, .block_three {
    margin: 5%;
}
#navbar_text {
    color: rgba(255, 255, 255, 0.63);
}
a.menu_text {
    font-size: 20px;
}
#close_icon {
    margin: 3%;
    color: white;
}
.rejoindre-and-identifier {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    margin: 5%;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.rejoindre {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 44px;
    background-color: black;
    color: white;
    border-radius: 22px;
}
.identifier {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 35px;
    border: 3px solid white;
    color: white;
    border-radius: 22px;
}
.panier-commande-profil {
    display: flex;
    height: 13%;
    margin: 5%;
    flex-direction: column;
    justify-content: space-between;
}
.panier, .commande, .profil {
    display: flex;
    align-items: center;
    color: white;
    gap: 3%;
}
.sidebar_socials {
    display: flex;
    height: 3%;
    align-items: center;
    justify-content: space-around;
    color: white;
}                            
/*********** MEDIA QUERY *************/

/* Mobile Under 250px */
@media (max-width: 250px){
    .panier-commande-profil {
        width: 90%;
        height: 18%;
    }
    .panier, .commande, .profil {
        font-size: 12px;
        width: 100%;
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width:767px) {
    div#menu_center {
        display: none;
    }
    #sidebar_menu.active {
        display: block;
    }
    #sidebar_navigation {
        height: 20%;
    }
    #side_nav_links {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        gap: 10%;
    }
    .show_not {
        display: none;
    }
    #menu_icon {
        display: contents;
    }
    li {
        margin-top: 1em;
    }
    #navbar_text {
        width: 90%;
    }
}
/* Ipad Mini to ipad */
@media screen and (min-width:768px) and (max-width:991px){
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    div#menu_center {
        display: none;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu.active {
        display: block;
        width: 60%;
    }
}

/* Ipad et Mini Ordi */
@media screen and (min-width:992px) and (max-width:1199px) {
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu.active {
        display: block;
        width: 35%;
    }
    #menu_center {
        display: none;
    }
}
/* Ordi to UP */
@media screen and (min-width: 1200px) {
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu {
        display: none;
    }
    #menu_icon {
        display: none;
    }
}