@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');
@import "../node_modules/bootstrap/scss/functions";


body{
    background:#1E1E1E;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
   
    margin: auto;
    max-width: 869px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: transparent;
    
}

.produits .col-2{
    padding: 0;
}
.produits .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}


.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1px;
    color: #ffffff;
    margin-left: auto;
    font-size: 0.7rem;
   
}

img{
    width: 29.5rem;
}

h2{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}



.productname {
    line-height: 53px;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color:  rgba(224, 43, 26, 0.8);
    /* border-color: rgb(255, 255, 255); */
    color: white;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 5px;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    transition: none; 
}
.btn:hover{
    color: white;
}

a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}

.produits {
    background-color: #595959;
    padding: 4vh;
    color: white;
    height: 45em;
}

.text-muted {
    color: #f8f9fa!important;
}


@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #1e1e1e;
    color: white;
    padding: 4vh 5vh;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        
    }
}
.produits{
    background-color: #595959;
    padding: 4vh;
    color: white;
}
@media(max-width:767px){
    .produits{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}