@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    margin: 0;
    background-color: #1E1E1E;
    color: white
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: #E02B1A;
}

.nom, .date_inscription {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.profil_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.nom_date {
    padding-left: 1rem;
}

.menu {
    padding-top: 2%;
}

.sous_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

hr {
    border: 1px solid white;
    width: 100%;
}

.text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.5);
}

.package {
    width: 74px;
    width: 76px;
}

.commande {
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 

        .menu {
            display: none;
        }
        .historique_des_commandes, .text {
            text-align: center;
            padding-top: 2%;
        }
        .text {
            font-size: 15px;
        }

    }