@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    margin: 0;
    background-color: #1E1E1E;
    color: white
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: #E02B1A;
}

.effect_titles::after, .test::after {
    content: '';
    display: block;
    position: absolute;
    top: 273px;
    width: 0;
    border-bottom: 5px solid red;
    transition: 0.25s;
}

.effect_titles:hover::after {
    width: 10rem;
}
.test:hover::after {
    width: 6rem;
}

.nom, .date_inscription {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.profil_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.nom_date {
    padding-left: 1rem;
}

.menu {
    padding-top: 2%;
}

.sous_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

hr {
    border: 1px solid white;
    width: 100%;
}

.conteneur_liens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;    
}

.liens {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

#fleche {
    width: 14px;
    height: 25px;
}

.a_propos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  padding-top: 3%;
}

.version_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button#submit {
    width: 30%;
}

hr {
    border: 1.2px solid rgba(255, 255, 255, 0.6);
}

.in_red {
    color: #E02B1A;
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 

        .menu {
            display: none;
        }

        .conteneur_liens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        .liens {
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }
        .a_propos {
            display: flex;
            /* align-content: flex-end; */
            align-content: center;
            align-items: center;
        }
        
        .custom_h1 {
            font-size: 1.5rem;
        }

        .version_container {
            width: 100%;
        }
        button#submit {
            width: 70%;
        }

}