@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');
@import "../node_modules/bootstrap/scss/functions";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
  }

    body {
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
}



/* Partie Navbar */ 


/***************** navbar *******************/
#navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(#E02B1A, #930D00);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}
#menu_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
    font-size: 18px;
}
#menu_logo, #menu_right {
    color: white;
}

#menu_logo {
    font-size: 2.3rem;
}

div#menu_center {
    width: 60%;
}
#right_right {
    display: flex;
    gap: 40px;
}
#sidebar_menu {
    display: none;
}
#menu_icon {
    display: none;
}

a:hover {
    color: white;
    text-decoration: none;
    list-style: none;
}


ul {
    margin-top: 0;
    margin-bottom: 0;
}


/************** sidebar ****************/


#sidebar_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 1092px;
    background-color: #C81100;
    z-index: 3;
}
.main_sidebar_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
#side_nav_links {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    gap: 4%;
}
.block_one {
    display: flex;
    justify-content: flex-end;
}
.block_two, .block_three {
    margin: 5%;
}
#navbar_text {
    color: rgba(255, 255, 255, 0.63);
}
a.menu_text {
    font-size: 20px;
}
#close_icon {
    margin: 3%;
    color: white;
}

.panier-commande-profil h2 {
    font-size: 24px;
}


.rejoindre-and-identifier {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    margin: 5%;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.rejoindre {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 44px;
    background-color: black;
    color: white;
    border-radius: 22px;
}
.identifier {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 35px;
    border: 3px solid white;
    color: white;
    border-radius: 22px;
}
.panier-commande-profil {
    display: flex;
    height: 13%;
    margin: 5%;
    flex-direction: column;
    justify-content: space-between;
}
.panier, .commande, .profil {
    display: flex;
    align-items: center;
    color: white;
    gap: 3%;
}
.sidebar_socials {
    display: flex;
    height: 3%;
    align-items: center;
    justify-content: space-around;
    color: white;

}      




/*********** MEDIA QUERY *************/

/* Mobile Under 250px */
@media (max-width: 250px){
    .panier-commande-profil {
        width: 90%;
        height: 18%;
    }
    .panier, .commande, .profil {
        font-size: 12px;
        width: 100%;
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width:767px) {
    div#menu_center {
        display: none;
    }
    #sidebar_menu.active {
        display: block;
    }
    #sidebar_navigation {
        height: 20%;
    }
    #side_nav_links {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        gap: 10%;
    }
    .show_not {
        display: none;
    }
    #menu_icon {
        display: contents;
    }
    li {
        margin-top: 1em;
    }
    #navbar_text {
        width: 90%;
    }
}

/* Ipad Mini to ipad */
@media screen and (min-width:768px) and (max-width:991px){
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    div#menu_center {
        display: none;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu.active {
        display: block;
        width: 60%;
    }
}

/* Ipad et Mini Ordi */
@media screen and (min-width:992px) and (max-width:1199px) {
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu.active {
        display: block;
        width: 35%;
    }
    #menu_center {
        display: none;
    }
}
/* Ordi to UP */
@media screen and (min-width: 1200px) {
    #navbar {
        width: 100%;
        align-items: center;
        align-content: space-around;
    }
    #menu_icon {
        display: contents;
    }
    #sidebar_menu {
        display: none;
    }
    #menu_icon {
        display: none;
    }
}



/* Partie Modal pour s'identifier */

.modal {
    position: fixed;
    top: 42px;
    left: 31vw;
    display: none;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}


.modal-dialog {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    pointer-events: none;
    background-color:  #595959;
    border-radius: 10px;
    height: 14vh;
    width: 20vw;

}


.modall-content {
    background-color:  #595959;
    color: white;
    border-radius: 10px;
    right: 15vw;
}

p.whitetext {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

a.new-text {
    color: #E02B1A;
    font-weight: 800;

}

.modal .fade{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}


.modal-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 11px;
}

img.card-img-top.imgmodal {
    height: 21vw;
    width: 23vw;
    border-radius: 10px;
}

.modal-header {
    border-radius: 10px;
    border-bottom: none;

}

.btn-primary {
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-width : 0;
    border-style : none;
    font-size: 18px;
    font-family:'Montserrat', sans-serif;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E02B1A;
    border-color: #E02B1A;
    font-size: 18px;
    border-width : 0;
    border-style : none;
}

.btn-primary:onclick {
    color: #fff;
    background-color: #E02B1A;
    border-width : 0;
    border-style : none;
    font-size: 18px;
}


.card-modal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 41px;
    height: 100%;
    
}

.titre {
    height: 7%;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    border: none;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.5;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #fff;
    opacity: 2.5; 
}

.close:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 2.5;
    }

h5.card-title {
    font-size: 30px;
}










/* Partie Card */

.card {
    /* border: 2px solid red; */
    margin: 10px 4px;
    transition: .6s ease;
    background-color: #1E1E1E;
    width: 90%;
    height: 70vh;
    }
  
    .card:hover {
    transform: scale(1.05);
    }


    .card-deck-wrapper {
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    height: 24vh;
    width: 100%;
    }





    .card-description {
    display: flex;
    flex-direction: column;
    background-color: #595959;
    color: #fff;
    padding: 10px;
    height: 20vh;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    }

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.card-info {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    margin-right: 40px;
    }


.btn-danger {
    color: #fff;
    background-color: #E02B1A;
    border-color: #E02B1A;
    border-radius: 5px;
    font-size: 14px;
    font-family:'Montserrat', sans-serif; ;
}

.btn-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 20vh;
    }

.price {
    margin-top: 7px;
    font-size: 17px;
    }


a.btn.btn-danger {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 2px 2px #404040;
    height: 37px;
    width: 11em;

}

a.btn.btn-danger:hover {
    background-color: #E02B1A;

}



/* ************************************************Media Queries******************************************************************/

/* Media Query */

/* responsive mobile */

    @media screen and (max-width: 767px) {

  

    }


    /* Ipad Mini to ipad */
    @media screen and (min-width:768px) and (max-width:991px){

    .modal-dialog {
    height: 16vh;
    width: 44vw;
    }

    .modal {
    top: 44px;
    left: 11vw;
    }

    
    .btn-primary {
    
    font-size: 14px;
    }

    p.whitetext {
    font-size: 15px
    }



    .card-info {
    font-size: 12px;
    margin-right: 0;
    }

    .card-description {
    
    height: 22vh;
    width: 100%;
    }

    .btn-price {

    gap: 10px;
    }

    a.btn.btn-danger {
    font-size: 10.4px;
    height: 6vh;
    width: 100%;
    text-align: center;
    }

    .price {
    margin-top: 5%;
    font-size: 14px;
    }

    }


 /* Ipad et Mini Ordi */
    @media screen and (min-width:992px) and (max-width:1199px) {
    
    .card {
    height: 60vh;
    }
    

    .btn-price {
    width: 100%;
    height: 20vh;
    gap: 10px;
    }

    .card-info {
    font-size: 12px;
    margin-right: 0;
    }

    a.btn.btn-danger {
    font-size: 11px;
    height: 7vh;
    width: 60%;
    }

    .price {
    margin-top: 5%;
    font-size: 16px;
    width: 40%;
    }

  
    }
    
 /* Ordi to UP */
    @media screen and (min-width: 1200px) {
    
    .card-deck-wrapper {
    
    width: 97%;
    
}

    .card {
        width: 100%;
    }

    .card-info {
    font-size: 20px;

    }

    .card-description {
    
    height: 23vh;
    }

    a.btn.btn-danger {
    font-size: 15px;
    width: 90%;
    }

    .price {
    margin-top: 5%;
    font-size: 15px;
    width: 34%;
    }

    .btn-price {
    gap: 15px;
    }

    }

